body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    color: #000c67;
}

h1 {
    font-weight: 700;
}

section {
    margin-bottom: 5%;
}

#toc_container {
    display: table;
    font-size: 95%;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: none ;
}

footer {
    line-height: 0.5;
    color: #000c67;
}

table {
    margin: 10px auto 10px auto;
    border-collapse: collapse;
    border: 1px solid black;
}

td {
  padding: 8px;
}

th {
  padding: 8px;
  color: white;;
  background-color: #000c67;

}